<section>
    <h3>Hacer denuncia</h3>

    <label>Lugar del incidente</label>
    <br>
    <mat-radio-group>
        <mat-radio-button value="1">Mi ubicación actual</mat-radio-button>
        <mat-radio-button value="2">Otro lugar</mat-radio-button>
    </mat-radio-group>

    <br>
    <label>Fecha y hora</label>
    <br>
    <mat-radio-group>
        <mat-radio-button value="1">Usar actual</mat-radio-button>
        <mat-radio-button value="2">Otra</mat-radio-button>
    </mat-radio-group>

    <br>
    <label>Es un colectivo en particular?</label>
    <br>
    <mat-radio-group>
        <mat-radio-button (change)="colectivoEspecifico = true" value="1">Si</mat-radio-button>
        <mat-radio-button (change)="colectivoEspecifico = false" value="2">No</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="colectivoEspecifico">
        <mat-form-field>
            <mat-label>Patente</mat-label>
            <input matInput type="text" id="patente" placeholder="AAA 000 / AA 000 AA">
        </mat-form-field>
    </div>

    <div *ngIf="colectivoEspecifico">
        <mat-form-field>
            <mat-label>Interno</mat-label>
            <input matInput type="number" id="interno" min="0" placeholder="0000">
        </mat-form-field>
    </div>

    <div class="row-buttons">
        <button mat-raised-button color="primary" type="button" (click)="denunciar()">Denunciar</button>
        <button mat-raised-button color="secondary" type="button" (click)="goHome()">Cancelar</button>
    </div>
</section>