<section>
    <form>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="content-header">
                    Lista de denuncias e incidencias
                </div>
            </div>
            <div class="col-6"></div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="card-block">

                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                    </mat-form-field>

                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>

                            <ng-container matColumnDef="codigo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                                <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="descripcion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                                <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="linea">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Línea </th>
                                <td mat-cell *matCellDef="let row"> {{row.linea}} </td>
                            </ng-container>

                            <ng-container matColumnDef="interno">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Interno </th>
                                <td mat-cell *matCellDef="let row"> {{row.interno}} </td>
                            </ng-container>

                            <ng-container matColumnDef="importancia">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Importancia </th>
                                <td mat-cell *matCellDef="let row"> {{row.importancia}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnasMostradas"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnasMostradas;">
                            </tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>

                </div>
            </div>
        </div>
    </form>
</section>