<form #updatePasswordForm="ngForm">
  <h1 mat-dialog-title>{{'UPDATE_PASSWORD' | translate}}</h1>
  <mat-dialog-content>
    <div class="column">
      <mat-form-field>
        <mat-label>{{'CURRENT_PASSWORD' | translate}}</mat-label>
        <input matInput type="password" id="password" name="password" [(ngModel)]="form.currentPassword" required>
      </mat-form-field>

      <hr>

      <mat-form-field>
        <mat-label>{{'NEW_PASSWORD' | translate}}</mat-label>
        <input matInput type="password" id="newPassword" name="newPassword" [(ngModel)]="form.newPassword">
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'REPEAT_PASSWORD' | translate}}</mat-label>
        <input #repeatPassword matInput type="password" id="repeatPassword" name="repeatPassword">
      </mat-form-field>

      <!-- TODO: Improve password checking and then implement translations -->
      @if (form.newPassword !== repeatPassword.value) {
      <div>
        <mat-error>Los últimos 2 campos deben coincidir.</mat-error>
      </div>
      }
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="button" (click)="sendForm()"
      [disabled]="!updatePasswordForm.valid || (form.newPassword !== repeatPassword.value)">{{'APPLY' | translate}}</button>

    <button mat-raised-button color="secondary" type="button" mat-dialog-close>{{'CANCEL' | translate}}</button>
  </mat-dialog-actions>
</form>