<form #editUserForm="ngForm">
  <h1 mat-dialog-title>Editar contraseña</h1>
  <mat-dialog-content>
    <div class="column">
      <mat-form-field>
        <mat-label>Contraseña actual</mat-label>
        <input matInput type="password" id="password" name="password" [(ngModel)]="form.currentPassword" required
          placeholder="********">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nueva contraseña</mat-label>
        <input matInput type="password" id="newPassword" name="newPassword" [(ngModel)]="form.newPassword"
          placeholder="********">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Repetir nueva contraseña</mat-label>
        <input #confirmPassword matInput type="password" id="confirmPassword" name="confirmPassword" placeholder="********">
      </mat-form-field>

      @if (form.newPassword !== confirmPassword.value) {
      <div>
        <mat-error>Los últimos 2 campos deben coincidir.</mat-error>
      </div>
      }
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="button" (click)="sendForm()"
      [disabled]="!editUserForm.valid || (form.newPassword !== confirmPassword.value)">Modificar</button>

    <button mat-raised-button color="secondary" type="button" mat-dialog-close>Cancelar</button>
  </mat-dialog-actions>
</form>