<div class="center">
    <img class="login-img" alt="SITU logo" src="/assets/images/logo.png" />

    <mat-form-field>
        <mat-label>DNI</mat-label>
        <input matInput type="number" id="dni" min="0" placeholder="00 000 000">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" placeholder="email@example.com">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Repetir email</mat-label>
        <input matInput type="email" id="repeatEmail" placeholder="email@example.com">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" id="password" placeholder="****************">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Repetir contraseña</mat-label>
        <input matInput type="password" id="repeatPassword" placeholder="****************">
    </mat-form-field>

    <img width="250" alt="recaptcha" src="/assets/images/recaptcha.png" />

    <div class="row-buttons">
        <button mat-raised-button color="primary" type="button" (click)="goTo('inicio')">Registar</button>
        <button mat-raised-button color="secondary" type="button" (click)="goTo('ingresar')">Volver</button>
    </div>

</div>