<form #signupForm="ngForm" (ngSubmit)="onSubmit()" class="auth-form">
    <app-auth-panel titleKey="SIGNUP" subtitleKey="AUTH_SIGNUP_SUBTITLE">
        <div class="signup-grid">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'COMPANY' | translate }}</mat-label>
                <input matInput id="companyName" name="companyName" required [(ngModel)]="form.companyName" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" id="email" name="email" required [(ngModel)]="form.email" autocomplete="email" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>{{ 'PHONE' | translate }}</mat-label>
                <input matInput type="tel" id="phone" name="phone" [(ngModel)]="form.phone" autocomplete="tel" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>{{ 'FIRSTNAME' | translate }}</mat-label>
                <input matInput required [(ngModel)]="form.firstName" name="firstName" autocomplete="given-name" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>{{ 'LASTNAME' | translate }}</mat-label>
                <input matInput required [(ngModel)]="form.lastName" name="lastName" autocomplete="family-name" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>DNI</mat-label>
                <input matInput type="number" id="dni" name="dni" required [(ngModel)]="form.dni" min="1" />
            </mat-form-field>
        </div>

        <section class="signup-note">
            <p>{{ 'SIGNUP_NOTE' | translate }}</p>
        </section>

        <fake-captcha></fake-captcha>

        <div panelActions class="auth-actions">
            <button mat-stroked-button type="button" (click)="goTo('auth/login')">
                <mat-icon>arrow_back</mat-icon>
                {{ 'LOGIN' | translate }}
            </button>

            <button mat-raised-button color="primary" [disabled]="!signupForm.valid || isSubmitting" type="submit">
                <mat-icon>send</mat-icon>
                {{ 'SUBMIT' | translate }}
            </button>
        </div>
    </app-auth-panel>
</form>
