<section class="center">
    <div class="title">
        <h1>{{'SIGNUP' | translate}}</h1>
    </div>

    <form class="container" #signupForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="column">
            <mat-form-field>
                <mat-label>{{'COMPANY' | translate}}</mat-label>
                <input matInput id="companyName" name="companyName" required [(ngModel)]="form.companyName">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" id="email" name="email" required [(ngModel)]="form.email">
            </mat-form-field>

            <!-- <mat-form-field>
                <mat-label>Teléfono</mat-label>
                <input matInput type="number" id="phone" name="phone" [(ngModel)]="form.phone">
            </mat-form-field> -->
        </div>

        <div class="column">
            <mat-form-field>
                <mat-label>{{'FIRSTNAME' | translate}}</mat-label>
                <input matInput id="firstName" name="firstName" required [(ngModel)]="form.firstName">
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{'LASTNAME' | translate}}</mat-label>
                <input matInput id="lastName" name="lastName" required [(ngModel)]="form.lastName">
            </mat-form-field>

            <mat-form-field>
                <mat-label>DNI</mat-label>
                <input matInput type="number" id="dni" name="dni" required [(ngModel)]="form.dni">
            </mat-form-field>
        </div>

        <div class="column">
            <p class="note">
                {{'SIGNUP_NOTE' | translate}}
            </p>

            <!-- <mat-form-field>
                <mat-label>Notas</mat-label>
                <textarea matInput id="notes" name="notes" [(ngModel)]="form.note" placeholder="Notas"></textarea>
            </mat-form-field> -->

            <span class="center">
                <captcha></captcha>
            </span>

            <!-- TODO: checkbox de aceptar terminos y condiciones de uso y el enlace a donde leerlos -->
        </div>

        <div class="row-buttons">
            <button mat-raised-button color="secondary" type="button" (click)="goTo('home')">
                <mat-icon>keyboard_arrow_left</mat-icon>
                {{'GO_BACK' | translate}}
            </button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid">
                <mat-icon>send</mat-icon>
                {{'SUBMIT' | translate}}
            </button>
        </div>
    </form>
</section>