<div class="container">
  <div class="sidebar">
    <div class="sidebar-content">
      <h2>1. {{'BUS_LINES' | translate}}</h2>
      <ul>
        @for (line of busLines; track $index) {
        <li>
          <input type="checkbox" (change)="loadBusRoutes()" [(ngModel)]="line.selected" /> {{ line.name }}
        </li>
        }
      </ul>
    </div>

    <div class="sidebar-footer">
      @if (busRoutes.length > 0) {
      <h2>2. {{'BUS_ROUTES' | translate}}</h2>
      <ul>
        @for (route of busRoutes; track $index) {
        <li>
          <input type="checkbox" (change)="loadBusStops()" [(ngModel)]="route.selected" /> {{ route.name }}
        </li>
        }
      </ul>

      <button (click)="resetSelection()">{{'CLEAR' | translate}}</button>
      }
    </div>
  </div>

  <div class="map-container">
    @if (busStops.length > 0) {
    <app-map [busRoutes]="selectedRoutes" [busStops]="busStops"></app-map>
    }
  </div>
</div>