<section>
    <button mat-raised-button color="primary" type="button" (click)="changeAcercaDeNosotros()">Acerca de
        nosotros</button>
    <button mat-raised-button color="primary" type="button" (click)="changeLineas()">Líneas</button>

    <div *ngIf="acercaDeNosotros">
        <img alt="MTlogo" src="/assets/images/LogoConNombre.jpeg" />
        <h4>Historia</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt metus at ex semper, id scelerisque
            urna cursus. Donec interdum odio sit amet rhoncus fermentum. Praesent feugiat convallis arcu, eu pulvinar
            massa lobortis vitae.
        </p>
        <h4>Visión</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt metus at ex semper, id scelerisque
            urna cursus. Donec interdum odio sit amet rhoncus fermentum. Praesent feugiat convallis arcu, eu pulvinar
            massa lobortis vitae.
        </p>
        <h4>Misión</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt metus at ex semper, id scelerisque
            urna cursus. Donec interdum odio sit amet rhoncus fermentum. Praesent feugiat convallis arcu, eu pulvinar
            massa lobortis vitae.
        </p>
    </div>

    <div *ngIf="lineas">
        <mat-form-field>
            <mat-label>Línea</mat-label>
            <input matInput type="number" id="linea" min="0" placeholder="000">
        </mat-form-field>
        <button mat-raised-button color="primary" type="button">Buscar línea</button>

        <img alt="194 Plus" width="520" src="/assets/images/194plusd.jpg" />
        <b>Teléfono para información y reclamos</b>
        <br>
        <small>24/7</small>
        <h4><a><b>0000-000-0000</b></a></h4>

        <h3>194 Plus</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt metus at ex semper, id scelerisque
            urna cursus. Donec interdum odio sit amet rhoncus fermentum. Praesent feugiat convallis arcu, eu pulvinar
            massa lobortis vitae.
        </p>

        <h5>Administración</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt metus at ex semper, id scelerisque
            urna cursus. Donec interdum odio sit amet rhoncus fermentum. Praesent feugiat convallis arcu, eu pulvinar
            massa lobortis vitae.
        </p>

        <h5>Cuadro Tarifario</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt metus at ex semper, id scelerisque
            urna cursus. Donec interdum odio sit amet rhoncus fermentum. Praesent feugiat convallis arcu, eu pulvinar
            massa lobortis vitae.
        </p>
    </div>
</section>