<mat-toolbar color="primary">
    <span class="app-title">SITU</span>

    <a mat-button [routerLink]="'/report-list'">Denuncias</a>
    <a mat-button [routerLink]="'/alert-list'">Alertas</a>
    <a mat-button [routerLink]="'/user-list'">Usuarios</a>
    <a mat-button [routerLink]="'/bus-routes'">Mapa de recorridos</a>

    <span class="spacer"></span>

    <input class="searchbar" type='search' placeholder="Buscar ..." [(ngModel)]="textToSearch" (input)="doSearch()" />

    <span class="spacer"></span>

    <a mat-button (click)="confirmLogout()">Cerrar sesión</a>
</mat-toolbar>