mat-toolbar {
    display: flex;
    gap: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.searchbar {
    min-height: 32px;
    padding: 0.15rem 1.5rem;
    outline: none;
    border: aliceblue;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -15px;
    width: 32rem;
}