<app-navbar></app-navbar>
<h1>Mapa de recorridos</h1>

<mat-stepper [linear]="true">
    <mat-step label="1. Seleccionar línea">

        <mat-form-field class="chips-input">
            <mat-label>Línea</mat-label>
            <mat-chip-grid #chipGrid aria-label="Añada líneas de colectivos">
                <mat-chip-row *ngFor="let item of lineas" (removed)="removeLinea(item)">
                    {{item}}
                    <button matChipRemove aria-label="'remove ' + item">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="Ingrese línea de colectivos..." [matChipInputFor]="chipGrid"
                (matChipInputTokenEnd)="addLinea($event)" />
        </mat-form-field>

        <div class="row-buttons">
            <button mat-button matStepperNext>Continuar</button>
        </div>
    </mat-step>
    <mat-step label="2. Seleccionar recorridos">

        <mat-checkbox *ngFor="let item of trasbordos">{{ item }}</mat-checkbox>

        <div class="row-buttons">
            <button mat-button matStepperPrevious>Volver</button>
            <button mat-button matStepperNext>Continuar</button>
        </div>
    </mat-step>
    <mat-step label="3. Visualizar mapa">

        <iframe width="800" height="600" name="gmap" title="gmap"
            src="https://maps.google.com/maps?q=palermo&t=&z=15&ie=UTF8&iwloc=&output=embed"></iframe>

        <div class="row-buttons">
            <button mat-button matStepperPrevious>Volver</button>
        </div>
    </mat-step>
</mat-stepper>