<p>Si sos el responsable de tu empresa para realizar los trámites ante SITU, completá el formulario para registrarte
    y solicitar tu cuenta de usuario administrador. Serás contactado en el término de 24 hs. hábiles</p>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div class="a">
            <mat-form-field>
                <mat-label>Nombre de la Empresa</mat-label>
                <input matInput id="companyName" placeholder="Nombre de la Empresa">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" id="email" placeholder="email@example.com">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Teléfono</mat-label>
                <input matInput type="number" id="phone" placeholder="118754210">
            </mat-form-field>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="a">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput id="name" placeholder="Nombre">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Apellido</mat-label>
                <input matInput id="lastName" placeholder="Apellido">
            </mat-form-field>

            <mat-form-field>
                <mat-label>DNI</mat-label>
                <input matInput type="number" id="IDNumber" placeholder="00 000 000">
            </mat-form-field>
        </div>
    </mat-grid-tile>

</mat-grid-list>


<mat-form-field class="a">
    <mat-label>Notas</mat-label>
    <textarea matInput placeholder="Notas"></textarea>
</mat-form-field>

<div class="center">
    <img width="250" alt="recaptcha" src="/assets/images/recaptcha.png" />

    <div class="row-buttons">
        <button mat-raised-button color="primary" type="button">
            <mat-icon>send</mat-icon>
            Enviar
        </button>
        <button mat-raised-button color="secondary" type="button" (click)="goTo('home')">
            <mat-icon>keyboard_arrow_left</mat-icon>
            Volver
        </button>
    </div>
</div>