.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-inline-start: 20%;
    margin-inline-end: 20%;
}

.note {
    background-color: lightsteelblue;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    text-align: justify;
}