<h1 mat-dialog-title>Detalles de la alerta</h1>

<mat-dialog-content>
    <h2>TÍTULO</h2>
    <h4>24/07/2023 22:30 hs - Emitida por NOMBRE DE USUARIO - Prioridad ALTA</h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac
        neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique,
        tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit
        amet quis magna.
    </p>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="secondary" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>