<mat-toolbar color="primary">
    <!-- Hamburguesa - Mostrar solo en pantallas pequeñas -->
    <button mat-icon-button class="hamburger" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="'/dashboard'">Dashboard</a>
        <a mat-menu-item [routerLink]="'/report'">Reclamos</a>
        <a mat-menu-item [routerLink]="'/alert'">Alertas</a>
        <a mat-menu-item [routerLink]="'/user'">Usuarios</a>
        <a mat-menu-item [routerLink]="'/bus'">Mapa de recorridos</a>
        <a mat-menu-item (click)="confirmLogout()">Cerrar sesion</a>
    </mat-menu>

    <img [src]="logoURL" alt="Logo Company" class="logo">

    <!-- Enlaces de la barra de herramientas - Mostrar en pantallas medianas y grandes -->
    <div class="menu-items">
        <a mat-button [routerLink]="'/dashboard'">Dashboard</a>
        <a mat-button [routerLink]="'/report'">Reclamos</a>
        <a mat-button [routerLink]="'/alert'">Alertas</a>
        <a mat-button [routerLink]="'/user'">Usuarios</a>
        <a mat-button [routerLink]="'/bus'">Mapa de recorridos</a>
    </div>

    <span class="spacer"></span>

    <input class="searchbar" type='search' placeholder="Buscar ..." [(ngModel)]="textToSearch" (input)="doSearch()" />

    <span class="spacer"></span>

    <a mat-button id="logout" (click)="confirmLogout()">
        <mat-icon>exit_to_app</mat-icon>
        Cerrar sesión
    </a>
</mat-toolbar>