<section>
  <img width="160" alt="SITU logo" src="/assets/images/logo.png" />
  <h1>Buenos días Karen, bienvenida</h1>
  <h3>¿En qué te podemos ayudar?</h3>

  <button mat-raised-button color="primary" type="button" (click)="goTo('horarios')">Horarios y recorridos</button>
  <button mat-raised-button color="primary" type="button" (click)="goTo('generar-alerta')">Generar alertas</button>
  <button mat-raised-button color="primary" type="button" (click)="goTo('hacer-denuncia')">Denunciar</button>
  <button mat-raised-button color="primary" type="button" (click)="goTo('lista-denuncias')">Ver denuncias</button>
</section>