<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>SITU</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/inicio'">Inicio</a>
            <a mat-button [routerLink]="'/noticias-alertas'">Noticias o alertas</a>
            <a mat-button [routerLink]="'/ayuda'">Ayuda</a>
            <a mat-button [routerLink]="'/info'">Información</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/inicio'">Inicio</a>
            <a mat-list-item [routerLink]="'/noticias-alertas'">Noticias o alertas</a>
            <a mat-list-item [routerLink]="'/ayuda'">Ayuda</a>
            <a mat-list-item [routerLink]="'/info'">Información</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="fondo">
            <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>