<!-- Source: https://codepen.io/teamakesweb/pen/LOZdBw -->
<div class="captcha">
    <div class="cspinner">
        <label>
            <input type="checkbox" onclick="$(this).attr('disabled','disabled');">
            <span class="checkmark"><span>&nbsp;</span></span>
        </label>
    </div>
    <div class="text">
        I'm not a robot
    </div>
    <div class="clogo">
        <img src="https://www.drupal.org/files/issues/2022-09-23/recaptcha-project-browser-transparent.png" />
        <p>reCAPTCHA</p>
        <small>Privacy - Terms</small>
    </div>
</div>