<section>
    <form class="form-signin">
        <div class="card p-3">
            <div class="text-center mb-2">
                <img width="160" alt="SITU logo" src="/assets/images/logo.png" />
            </div>

            <input type="text" id="dni" class="form-control mb-2" placeholder="DNI">
            <input type="password" id="password" class="form-control mb-2" placeholder="Contraseña">

            <div class="text-center mb-2">
                <img width="260" alt="recaptcha" src="/assets/images/recaptcha.png" />
            </div>

            <div class="checkbox mb-2">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>

            <div class="card mb-2">
                <button type="button" class="btn btn-primary">Ingresar</button>
            </div>

            <div class="card mb-2">
                <button type="button" class="btn btn-secondary">Omitir</button>
            </div>

            <div>
                ¿No tenés una cuenta? <a href=""><span class="">Registrate</span></a>
            </div>
        </div>
    </form>
</section>