<div>
    <div>
        <div class="text-center">
            <img width="120" alt="SITU logo" src="/assets/images/logo.png" />
        </div>
        <div><input type="text" id="input" placeholder="DNI"></div>
        <div><input type="password" id="inputPassword" class="form-control" placeholder="Contraseña"></div>
        <div>CAPTCHA</div>
        <div>
            <div><button type="submit" class="input-group">Ingresar</button></div>
            <button type="button" class="btn btn-lg btn-primary">Ingresar</button>
        </div>
    </div>
    <div>
        ¿No tenés una cuenta? Registrate
    </div>
    <div>
        Omitir
    </div>
</div>