<img src="../../../assets/svg/wave.svg" alt="wave">
<section class="center">
    <h1>{{'WELCOME' | translate}}</h1>

    <div class="row-buttons">
        <button mat-raised-button color="primary" type="button" (click)="goTo('auth/login')">
            <mat-icon>login</mat-icon>
            {{'LOGIN' | translate}}
        </button>
        <button mat-raised-button color="secondary" type="button" (click)="goTo('auth/signup')">
            <mat-icon>add_business</mat-icon>
            {{'SIGNUP' | translate}}
        </button>
    </div>
</section>