<h1 mat-dialog-title>Editar usuario ({{userData.lastname}} {{userData.firstname}})</h1>

<mat-dialog-content>
    <div class="row">
        <label>Foto</label>

        <div class="column center">
            <img src="../../../assets/images/perfil.png" alt="Foto de perfil" width="46">
            <button mat-button type="button">Cargar archivo</button>
        </div>
    </div>

    <div class="row">
        <label>DNI</label>
        <b>{{userData.dni}}</b>
    </div>

    <div class="row">
        <mat-form-field>
            <mat-label>Rol</mat-label>
            <mat-select id="role" name="role" [(ngModel)]="userData.role">
                <mat-option [value]="option" *ngFor="let option of roleTypes">
                    {{ option }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="row">
        <p>Aviso: luego de cambiar el rol, <b>no se podrá cambiar</b> <br>nuevamente hasta dentro de <b>30 días</b>.
        </p>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [mat-dialog-close]="userData" type="button"
        cdkFocusInitial>Guardar</button>
    <button mat-raised-button color="secondary" mat-dialog-close type="button">Cancelar</button>
</mat-dialog-actions>