<h1 mat-dialog-title>Emitir alerta</h1>

<mat-dialog-content>
    <div>
        <mat-form-field>
            <mat-label>Título</mat-label>
            <input matInput type="text" id="title" placeholder="ALERTA">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Mensaje</mat-label>
            <textarea matInput placeholder="Descripción"></textarea>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Ubicación</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of locationTypes">
                    {{ option }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Prioridad</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of priorityTypes">
                    {{ option }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- MAPA ACÁ -->
    </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Emitir</button>
    <button mat-raised-button color="secondary" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>