<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'LOGIN' | translate }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" required id="email" [(ngModel)]="form.email" name="email" />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
                <input matInput type="password" required id="password" [(ngModel)]="form.password" name="password" />
            </mat-form-field>

            <fake-captcha></fake-captcha>

            <!-- <mat-checkbox class="checkbox" color="primary" id="rememberMe" name="rememberMe"
                [(ngModel)]="loginForm.rememberMe">
                Mantener sesión
            </mat-checkbox> -->
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="secondary" type="button" (click)="goTo('auth/signup')">
                <mat-icon>keyboard_arrow_left</mat-icon>
                {{ 'SIGNUP' | translate }}
            </button>

            <button mat-raised-button color="primary" [disabled]="!loginForm.valid" type="submit">
                <mat-icon>login</mat-icon>
                {{ 'LOGIN' | translate }}
            </button>
        </mat-card-actions>
    </mat-card>
</form>