<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="auth-form">
    <app-auth-panel titleKey="LOGIN" subtitleKey="AUTH_LOGIN_SUBTITLE">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" required id="email" [(ngModel)]="form.email" name="email" autocomplete="email" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
            <input matInput type="password" required id="password" [(ngModel)]="form.password" name="password" autocomplete="current-password" />
        </mat-form-field>

        <fake-captcha></fake-captcha>

        <div panelActions class="auth-actions">
            <button mat-stroked-button type="button" (click)="goTo('auth/signup')">
                <mat-icon>person_add</mat-icon>
                {{ 'SIGNUP' | translate }}
            </button>

            <button mat-stroked-button type="button" (click)="goTo('auth/complaint-tracking')">
                <mat-icon>manage_search</mat-icon>
                {{ 'TRACK_COMPLAINT' | translate }}
            </button>

            <button mat-raised-button color="primary" [disabled]="!loginForm.valid || isSubmitting" type="submit">
                <mat-icon>login</mat-icon>
                {{ 'LOGIN' | translate }}
            </button>
        </div>
    </app-auth-panel>
</form>
