<section>
    <form class="center" #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="title">
            <h1>Iniciar sesión</h1>
        </div>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" name="email" [(ngModel)]="loginForm.email" required
                placeholder="myemail@example.com">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" id="password" name="password" [(ngModel)]="loginForm.password" required
                placeholder="********">
        </mat-form-field>

        <captcha></captcha>

        <mat-checkbox class="checkbox" color="primary" id="rememberMe" name="rememberMe"
            [(ngModel)]="loginForm.rememberMe">
            Mantener sesión
        </mat-checkbox>

        <div class="row-buttons">
            <button mat-raised-button color="secondary" type="button" (click)="goTo('home')">
                <mat-icon>keyboard_arrow_left</mat-icon>
                Volver
            </button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                <mat-icon>login</mat-icon>
                Ingresar
            </button>
        </div>

        <a>Olvidé mi contraseña</a>
    </form>
</section>