@import '@angular/material/prebuilt-themes/indigo-pink.css';

// background-color: #efa51d;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;

    mat-spinner {
        width: 6rem;
        height: 6rem;
    }
}

.logo {
    width: 120;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-buttons {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.login-img {
    width: 160;
    margin: 10px;
}

.card {
    margin: 20px;
}

.title {
    display: flex;
    align-items: baseline;
    margin: 10px;
    gap: 15px;
}

.row {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.content {
    padding: 2rem;
}