<form #createAlertForm="ngForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>{{'ALERT' | translate}}</h1>

  <mat-dialog-content class="row">
    <div class="column">
      <mat-form-field>
        <mat-label>{{'TITLE' | translate}}</mat-label>
        <input matInput type="text" id="title" name="title" [(ngModel)]="alert.title" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'DESCRIPTION' | translate}}</mat-label>
        <textarea matInput id="description" name="description" [(ngModel)]="alert.description" required></textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{'LOCATION' | translate}}</mat-label>
        <input matInput type="text" id="zone" name="zone" [(ngModel)]="alert.location" placeholder="Ej: CABA">
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'PRIORITY' | translate}}</mat-label>
        <mat-select id="priority" name="priority" [(ngModel)]="alert.alertPriority" required>
          @for (option of priorityTypes; track option) {
            <mat-option [value]="option">
              {{ option }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [mat-dialog-close]="true" type="submit"
    [disabled]="!createAlertForm.valid">{{'CREATE' | translate}}</button>
    <button mat-raised-button color="secondary" mat-dialog-close type="button">{{'CANCEL' | translate}}</button>
  </mat-dialog-actions>
</form>